.background {
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  position: relative;
}

.head {
  position: sticky;
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
}

.tour {
  width: 100px;
  height: 32px;
  background-image: url(./logo.png);
  background-position: center;
  background-size: cover;
  margin-top: 33px;
  margin-left: 118px;
}

.middle {
  display: flex;
  flex-direction: row;
  margin-left: 336px;
  margin-top: 39px;
}

.homeh,
.abouth,
.contacth {
  width: 100px;
  height: 22px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
}

.abouth {
  margin-left: 24px;
  margin-right: 24px;
}

.iconH {
  width: 20px;
  height: 20px;
  margin-left: 28.17px;
  margin-top: 42.5px;
}

.eng {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 336px;
  margin-top: 30px;
  color: black;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.hero {
  width: 100%;
  height: 773px;
  background-image: url(./heroImage.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
}

.pure {
  margin-top: 160px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  text-align: center;
  color: #e8edf2b8;
}

.await {
  margin-top: 5px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 250px;
  text-align: center;
  color: #fdfdfefa;
}

.year {
  font-family: "Hanuman", serif;
  font-weight: 900;
  font-size: 64px;
  color: #ffffffcc;
  text-align: center;
  font-style: normal;
}

.location {
  width: 100%;
  height: 500px;
  background-image: url(./location.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}

.terkh,
.amar,
.khuvsgul,
.khorgo {
  width: 375.49px;
  height: 370px;
  border-radius: 40px;
  box-shadow: 8px 8px #29728b40, -8px -8px #1f72aa75;
}

.terkh {
  margin-left: 109.02px;
  margin-top: 65px;
  background-image: url(./terkh\ zuv.png);
  background-position: center;
  background-size: cover;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 37px;
  text-align: center;
  color: #fdfdfecc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 4px 4.9px #000000a6;
  position: relative;
}

.layerte,
.layeram,
.layerkhu,
.layerkhor {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 40px;
  border-color: black;
  background-color: black;
}

.terkh:hover .layerte {
  opacity: 0.4;
}

.amar {
  margin-top: 65px;
  background-image: url(./amarbaysgalan.png);
  background-position: center;
  background-size: cover;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 37px;
  text-align: center;
  color: #fdfdfecc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 4px 4.9px #000000a6;
  position: relative;
}

.amar:hover .layeram {
  opacity: 0.4;
}

.khuvsgul {
  margin-top: 65px;
  background-image: url(./khuvsgul.png);
  background-position: center;
  background-size: cover;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 37px;
  text-align: center;
  color: #fdfdfecc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 4px 4.9px #000000a6;
  position: relative;
}

.khuvsgul:hover .layerkhu {
  opacity: 0.4;
}

.khorgo {
  margin-top: 65px;
  background-image: url(./khorgiin\ togoo.png);
  background-position: center;
  background-size: cover;
  margin-right: 109.02px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 37px;
  text-align: center;
  color: #fdfdfecc;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 4px 4.9px #000000a6;
  position: relative;
}

.khorgo:hover .layerkhor {
  opacity: 0.4;
}

p {
  margin-left: 22px;
  display: flex;
  align-items: center;
}

.destination {
  width: 100%;
  height: 1022px;
  background-image: url(./roadmap.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.title {
  margin-top: 120px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  color: #000000;
}

.pack {
  margin-top: 10px;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #18181bb2;
}

.inform {
  margin-top: 59px;
  margin-right: 120px;
  margin-left: 12opx;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.days {
  width: 513px;
  height: 640px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.sukhbaatar,
.amarbayasgalant,
.khorgiin,
.terkhiin,
.khuvsgul-lake {
  width: 100%;
  height: 112px;
  border-radius: 120px;
  margin-left: 120px;
  position: relative;
}

.layersukhbaatar,
.layeramarbays,
.layerkhorgiin,
.layerterkhiin,
.layerkhuvsgul {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  border-radius: 9999px;
  border: 4px solid transparent;
}

.picsukhbaatar {
  position: absolute;
  left: 922px;
  top: 69px;
  background-image: url(./sukhbaatar.png);
  background-position: center;
  background-size: cover;
  width: 245.34px;
  height: 245px;
  border-radius: 1000px;
  rotate: 5%;
  opacity: 0;
}

.picamarbayasgalant {
  position: absolute;
  left: 757px;
  top: -198px;
  background-image: url(./amarbayasgalan.png);
  background-position: center;
  background-size: cover;
  width: 245.34px;
  height: 245px;
  border-radius: 1000px;
  rotate: 5%;
  opacity: 0;
}

.pickhorgiin {
  position: absolute;
  left: 590px;
  top: -197px;
  background-image: url(./khorgiintogoo.png);
  background-position: center;
  background-size: cover;
  width: 245.34px;
  height: 245px;
  border-radius: 1000px;
  rotate: 5%;
  opacity: 0;
}

.picterkhiin {
  position: absolute;
  left: 687px;
  top: -205px;
  background-image: url(terkhiinlake.png);
  background-position: center;
  background-size: cover;
  width: 245.34px;
  height: 245px;
  border-radius: 1000px;
  rotate: 5%;
  opacity: 0;
}

.pickhuvsgul {
  position: absolute;
  left: 505px;
  top: -682px;
  background-image: url(khuvsgullake.png);
  background-position: center;
  background-size: cover;
  width: 245.34px;
  height: 245px;
  border-radius: 1000px;
  rotate: 5%;
  opacity: 0;
}

.sukhbaatar:hover .picsukhbaatar {
  opacity: 1;
}

.amarbayasgalant:hover .picamarbayasgalant {
  opacity: 1;
}

.khorgiin:hover .pickhorgiin {
  opacity: 1;
}

.terkhiin:hover .picterkhiin {
  opacity: 1;
}

.khuvsgul-lake:hover .pickhuvsgul {
  opacity: 1;
}

.sukhbaatar:hover {
  border: 4px solid white;
}

.amarbayasgalant:hover {
  border: 4px solid white;
}

.khorgiin:hover {
  border: 4px solid white;
}

.terkhiin:hover {
  border: 4px solid white;
}

.khuvsgul-lake:hover {
  border: solid white;
}

.sukhbaatar:hover .layersukhbaatar {
  opacity: 1;
}

.amarbayasgalant:hover .layeramarbays {
  opacity: 1;
}

.khorgiin:hover .layerkhorgiin {
  opacity: 1;
}

.terkhiin:hover .layerterkhiin {
  opacity: 1;
}

.khuvsgul-lake:hover .layerkhuvsgul {
  opacity: 1;
}

.sukhbaatar {
  background-color: #eee9d9;
}

.amarbayasgalant {
  background-color: #8bb8c1cc;
}

.khorgiin {
  background-color: #aad8d7cc;
}

.terkhiin {
  background-color: #8bc0bdcc;
}

.khuvsgul-lake {
  background-color: #97cce0cc;
}

.name_day,
.name_day2,
.name_day3,
.name_day4,
.name_day5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.name,
.name2,
.name3,
.name4,
.name5 {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 32px;
  gap: 4px;
}

.sukh_squ,
.amar_mon,
.kho_tog,
.ter_lake,
.khuv_lake {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #09090b;
}

.ulaanbator,
.bulgan,
.arkhangai,
.arkhangai1,
.khuvsgul1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: #18181b;
}

.day,
.day2,
.day3,
.day4,
.day5 {
  width: 52px;
  height: 52px;
  background-color: #f7f6f3;
  margin-top: 32px;
  margin-right: 30px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day1,
.day2b,
.day3a,
.day4a,
.day5kh {
  text-align: center;
  font-family: "Overpass", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}

.map {
  width: 647px;
  height: 640px;
  border-radius: 30px;
  margin-left: 40px;
  position: relative;
}

.ulaanbaatarm,
.bulganm,
.arkhangaim1,
.arkhangaim2,
.khuvsgulm {
  width: 34px;
  height: 34px;
  background-image: url(./mappin.png);
  background-position: center;
  background-size: cover;
}

.ulaanbaatarm {
  position: absolute;
  left: 574px;
  top: 189px;
}

.bulganm {
  position: absolute;
  left: 395px;
  top: 27px;
}

.arkhangaim1 {
  position: absolute;
  left: 190px;
  top: 154px;
}

.arkhangaim2 {
  position: absolute;
  left: 295px;
  top: 255px;
}

.khuvsgulm {
  position: absolute;
  left: 156px;
  top: -35px;
}

.foot {
  width: 100%;
  height: 1120px;
  background-image: url(./footer.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.foot_title {
  width: 1440px;
  margin-top: 40px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 42px;
  align-items: center;
  color: #000000;
}

.choose {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #18181bb2;
}

.packages {
  width: 1200px;
  height: 527px;
  margin-top: 79px;
  margin-left: 119px;
  margin-right: 119px;
  gap: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.budget,
.standard,
.luxury {
  width: 384px;
  height: 527px;
  border-radius: 40px;
  background-color: #fafbfc;
  position: relative;
}

.budget:hover,
.standard:hover,
.luxury:hover {
  box-shadow: 8px 8px #29728b40, -8px -8px #2e414766;
}

.budget:hover .selectB,
.standard:hover .selectS,
.luxury:hover .selectL {
  background-color: #18181be5;
  color: #fafafa;
}

.title-B,
.title-S,
.title-L {
  width: 100%;
  height: 92px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.iconB,
.iconS,
.iconL {
  width: 36px;
  height: 36px;
  background-image: url(heartbutton.png);
  background-position: center;
  background-size: cover;
  margin-top: 32px;
  margin-left: 24px;
}

.budpack,
.stapack,
.luxpack {
  margin-top: 39px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #121316;
}

.priceB,
.priceS,
.priceL {
  width: 386px;
  height: 78px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.price1,
.price2,
.price3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: #303030;
  margin-top: 12px;
}

.balanced_popular {
  display: flex;
flex-direction: row;
}

.popular {
  width: 91px;
  height: 27px;
  background-color: #6972b5;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafbfc;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-left: 90px;

}

.essential,
.balanced,
.ultimate {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #919191;
}

.includeB,
.includeS,
.inludeL {
  width: 336px;
  height: 180px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.incB,
.incS,
.incL {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #121316;
  margin-left: 64px;
}

.paragS {
  margin-top: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #3f4145;
}

.check_paraB,
.check_paraS,
.check_paraL {
  display: flex;
  flex-direction: row;
}

.checkB>p,
.checkS>p,
.checkL>p {
  background-image: url(./check.png);
  background-position: center;
  background-size: cover;
  width: 20px;
  height: 20px;
}

.paraB>p,
.paraS>p,
.paraL>p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #3f4145;
}

.selectB,
.selectS,
.selectL {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 336px;
  min-height: 48px;
  background-color: #a4d1e2;
  border-radius: 9999px;
  margin-top: 37px;
  margin-left: 24px;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.face_insta {
  margin-top: 170px;
  margin-left: 120px;
  display: flex;
  flex-direction: row;
}

.face,
.insta {
  width: 167px;
  height: 44px;
  border-radius: 9999px;
  background-color: #fafbfc;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.insta {
  margin-left: 20px;
}

.iconF {
  width: 20.16px;
  height: 20.16px;
  background-image: url(./facebook.png);
  background-position: center;
  background-size: cover;
  margin-top: 11.92px;
  margin-left: 21.92px;
}

.titleF,
.titleI {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #6972b5;
  margin-top: 11.92px;
}

.iconI {
  width: 20.16px;
  height: 20.16px;
  background-image: url(./insta.png);
  background-position: center;
  background-size: cover;
  margin-top: 11.92px;
  margin-left: 21.92px;
}

.logoT {
  width: 101px;
  height: 35px;
  background-image: url(./logo.png);
  background-position: center;
  background-size: cover;
  margin-left: 741px;
}
